
<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>
  <div class="chatbot">
    <header>
      <h2>Travela Assistant</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there 👋<br>How can I help you today?</p>
              <!-- The new section for buttons -->
  
      </li>
      <div id="button-container" class="button-container">
        <button class="chatbot-btn" data-action="book">Book a Trip</button>
        <button class="chatbot-btn" data-action="travel-packages">Travel Packages</button>
        <button class="chatbot-btn" data-action="help">Need Help?</button>
      </div>
    </ul>

    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
  </div>


 