
<div id="packages" class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Packages</h5>
            <h1 class="mb-0">Awesome Packages</h1>
        </div>
        <div class="packages-carousel owl-carousel">
            {% for package in packages %}
            <div class="packages-item">
                <div class="packages-img">
                    {% load static %}
                    <img src="/media/{{ package.image }}" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>{{ package.destination }}</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>{{ package.duration }}</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>{% if package.available %}Available{% else %}Not Available{% endif %}</small>
                    </div>
                    <div class="packages-price py-2 px-4"> ${{ package.price }}</div>
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">{{ package.name }}</h5>
                        <div>
                            {% for tag in package.tags.all %}
                            <small class="mb-3" style="display: inline-block; text-transform: uppercase; font-weight: bold; color: #fff; background-color: #13357B; padding: 5px 15px; border-radius: 20px; font-size: 0.875em; margin-bottom: 8px; margin-top: 8px;">
                                {{ tag }}
                            </small>
                        {% endfor %}
                        
                        </div>                        <div class="mb-3 star-rating">
                            {% for i in ratings_range %}
                                {% if i <= package.rating %}
                                    <small class="fa fa-star filled"></small>
                                {% else %}
                                    <small class="fa fa-star"></small>
                                {% endif %}
                            {% endfor %}
                            <span>{{ package.rating }} / 5</span>
                        </div>
                        
                        
                        <p class="mb-4">{{ package.description|truncatewords:14 }}</p>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                        </div>
                        <div class="col-6 text-end px-0">
                            <a href="{% url 'booking_handler_view' package_id=package.id %}"  class="btn-hover btn text-white py-2 px-4">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
      
    </div>
    <div class="col-12">
        <div class="text-center">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="{% url 'travel_packages_list' %}">Browse Packages</a>
        </div>
    </div>
</div>