<div id="services" class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Booking and Payments</h5>
                                <p class="mb-0"> 
                                    Easily browse and book your dream travel packages vacation with just a few 
                                    clicks. Choose packages that best suit your preferences. Secure online 
                                    payments with instant booking confirmations.

                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-paper-plane fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Travel News & Tips</h5>
                                <p class="mb-0">
                                    Stay updated with the latest trends and updates in the world of travel. 
                                    Our system scrapes popular travel websites for travel news, tips, 
                                    and destination guides. All the latest articles are accessible for you to read at any time.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-bullhorn fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-cogs fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Personalized Recommendations</h5>
                                <p class="mb-0">Travela’s advanced recommendation engine takes your preferences and feedback into account, helping you find the best travel packages that suit your specific needs to ensure your next trip is unforgettable.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-headset fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Customer Support Chatbot</h5>
                                <p class="mb-0">Whether you need assistance with your booking, have questions about a travel destination, our intelligent customer support chatbot is available 24/7 to assist you.  Get real-time assistance to guide you through the booking process.
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
           
        </div>
    </div>
</div>